<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>SmokeTest</td><td>TC006_QuickFilter.AudienceTestFilter()[pri:0, instance:audience.TC006_QuickFilter@42f93a98]<br/>TC004_Profiles.profileTest()[pri:0, instance:profiles.TC004_Profiles@2353b3e6]<br/>TC008_AttributeGlossary.dateCheck()[pri:0, instance:attributeGlossary.TC008_AttributeGlossary@3234e239]<br/>TC005_CreateSavedAudience.savedAudience()[pri:0, instance:audience.TC005_CreateSavedAudience@631330c]<br/>TC001_DataRecency.dateCheck()[pri:0, instance:audience.TC001_DataRecency@6f195bc3]<br/>TC007_LoadSavedAudience.dateCheck()[pri:0, instance:savedAudience.TC007_LoadSavedAudience@c46bcd4]<br/>TC003_Audience.AudienceTestFilter()[pri:0, instance:audience.TC003_Audience@1a8a8f7c]<br/>TC002_ConceptSearch.AudienceTestFilter()[pri:0, instance:audience.TC002_ConceptSearch@51e2adc7]<br/></td></tr>
</table>
