<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="91a895">  <td>20/08/17 16:47:44</td>   <td>0</td> <td title="&gt;&gt;ProjectWrappers.beforeSuite()[pri:0, instance:audience.TC001_DataRecency@6f195bc3]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="91a895">  <td>20/08/17 16:47:44</td>   <td>249</td> <td>&nbsp;</td><td title="&gt;&gt;ProjectWrappers.beforeTest()[pri:0, instance:audience.TC001_DataRecency@6f195bc3]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="87bd83">  <td>20/08/17 16:47:44</td>   <td>274</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC001_DataRecency.beforeClass()[pri:0, instance:audience.TC001_DataRecency@6f195bc3]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="91a895">  <td>20/08/17 16:47:44</td>   <td>299</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectWrappers.beforeMethod()[pri:0, instance:audience.TC001_DataRecency@6f195bc3]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="87bd83">  <td>20/08/17 16:47:44</td>   <td>307</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_DataRecency.dateCheck()[pri:0, instance:audience.TC001_DataRecency@6f195bc3]">dateCheck</td> 
  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="91a895">  <td>20/08/17 16:48:11</td>   <td>27640</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectWrappers.afterMethod()[pri:0, instance:audience.TC001_DataRecency@6f195bc3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="91a895">  <td>20/08/17 16:48:11</td>   <td>27640</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectWrappers.afterClass()[pri:0, instance:audience.TC001_DataRecency@6f195bc3]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>20/08/17 16:48:11</td>   <td>27643</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC002_ConceptSearch.beforeClass()[pri:0, instance:audience.TC002_ConceptSearch@51e2adc7]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="91a895">  <td>20/08/17 16:48:11</td>   <td>27643</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectWrappers.beforeMethod()[pri:0, instance:audience.TC002_ConceptSearch@51e2adc7]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>20/08/17 16:48:11</td>   <td>27644</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_ConceptSearch.AudienceTestFilter()[pri:0, instance:audience.TC002_ConceptSearch@51e2adc7]">AudienceTestFilter</td> 
  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="91a895">  <td>20/08/17 16:54:17</td>   <td>393158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectWrappers.afterMethod()[pri:0, instance:audience.TC002_ConceptSearch@51e2adc7]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="91a895">  <td>20/08/17 16:54:17</td>   <td>393158</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectWrappers.afterClass()[pri:0, instance:audience.TC002_ConceptSearch@51e2adc7]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="a86dd7">  <td>20/08/17 16:54:17</td>   <td>393159</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC003_Audience.beforeClass()[pri:0, instance:audience.TC003_Audience@1a8a8f7c]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="91a895">  <td>20/08/17 16:54:17</td>   <td>393159</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectWrappers.beforeMethod()[pri:0, instance:audience.TC003_Audience@1a8a8f7c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="a86dd7">  <td>20/08/17 16:54:17</td>   <td>393159</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC003_Audience.AudienceTestFilter()[pri:0, instance:audience.TC003_Audience@1a8a8f7c]">AudienceTestFilter</td> 
  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="91a895">  <td>20/08/17 16:56:21</td>   <td>517572</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectWrappers.afterMethod()[pri:0, instance:audience.TC003_Audience@1a8a8f7c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="91a895">  <td>20/08/17 16:56:21</td>   <td>517573</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectWrappers.afterClass()[pri:0, instance:audience.TC003_Audience@1a8a8f7c]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="a863b6">  <td>20/08/17 16:56:21</td>   <td>517573</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC004_Profiles.beforeClass()[pri:0, instance:profiles.TC004_Profiles@2353b3e6]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="91a895">  <td>20/08/17 16:56:21</td>   <td>517573</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectWrappers.beforeMethod()[pri:0, instance:profiles.TC004_Profiles@2353b3e6]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="a863b6">  <td>20/08/17 16:56:21</td>   <td>517573</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC004_Profiles.profileTest()[pri:0, instance:profiles.TC004_Profiles@2353b3e6]">profileTest</td> 
  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="91a895">  <td>20/08/17 16:56:51</td>   <td>547281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectWrappers.afterMethod()[pri:0, instance:profiles.TC004_Profiles@2353b3e6]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="91a895">  <td>20/08/17 16:56:51</td>   <td>547281</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectWrappers.afterClass()[pri:0, instance:profiles.TC004_Profiles@2353b3e6]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="e87285">  <td>20/08/17 16:56:51</td>   <td>547282</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC005_CreateSavedAudience.beforeClass()[pri:0, instance:audience.TC005_CreateSavedAudience@631330c]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="91a895">  <td>20/08/17 16:56:51</td>   <td>547282</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectWrappers.beforeMethod()[pri:0, instance:audience.TC005_CreateSavedAudience@631330c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="e87285">  <td>20/08/17 16:56:51</td>   <td>547282</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC005_CreateSavedAudience.savedAudience()[pri:0, instance:audience.TC005_CreateSavedAudience@631330c]">savedAudience</td> 
  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="91a895">  <td>20/08/17 17:00:45</td>   <td>781352</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectWrappers.afterMethod()[pri:0, instance:audience.TC005_CreateSavedAudience@631330c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="91a895">  <td>20/08/17 17:00:45</td>   <td>781352</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectWrappers.afterClass()[pri:0, instance:audience.TC005_CreateSavedAudience@631330c]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="c09f7f">  <td>20/08/17 17:00:45</td>   <td>781352</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC006_QuickFilter.beforeClass()[pri:0, instance:audience.TC006_QuickFilter@42f93a98]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="91a895">  <td>20/08/17 17:00:45</td>   <td>781353</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectWrappers.beforeMethod()[pri:0, instance:audience.TC006_QuickFilter@42f93a98]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="c09f7f">  <td>20/08/17 17:00:45</td>   <td>781353</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC006_QuickFilter.AudienceTestFilter()[pri:0, instance:audience.TC006_QuickFilter@42f93a98]">AudienceTestFilter</td> 
  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="91a895">  <td>20/08/17 17:01:12</td>   <td>808146</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectWrappers.afterMethod()[pri:0, instance:audience.TC006_QuickFilter@42f93a98]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="91a895">  <td>20/08/17 17:01:12</td>   <td>808146</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectWrappers.afterClass()[pri:0, instance:audience.TC006_QuickFilter@42f93a98]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>20/08/17 17:01:12</td>   <td>808146</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC007_LoadSavedAudience.beforeClass()[pri:0, instance:savedAudience.TC007_LoadSavedAudience@c46bcd4]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="91a895">  <td>20/08/17 17:01:12</td>   <td>808147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectWrappers.beforeMethod()[pri:0, instance:savedAudience.TC007_LoadSavedAudience@c46bcd4]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>20/08/17 17:01:12</td>   <td>808147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC007_LoadSavedAudience.dateCheck()[pri:0, instance:savedAudience.TC007_LoadSavedAudience@c46bcd4]">dateCheck</td> 
  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="91a895">  <td>20/08/17 17:01:38</td>   <td>833885</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectWrappers.afterMethod()[pri:0, instance:savedAudience.TC007_LoadSavedAudience@c46bcd4]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="91a895">  <td>20/08/17 17:01:38</td>   <td>833886</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectWrappers.afterClass()[pri:0, instance:savedAudience.TC007_LoadSavedAudience@c46bcd4]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="e3c998">  <td>20/08/17 17:01:38</td>   <td>833886</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC008_AttributeGlossary.beforeClass()[pri:0, instance:attributeGlossary.TC008_AttributeGlossary@3234e239]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="91a895">  <td>20/08/17 17:01:38</td>   <td>833887</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectWrappers.beforeMethod()[pri:0, instance:attributeGlossary.TC008_AttributeGlossary@3234e239]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="e3c998">  <td>20/08/17 17:01:38</td>   <td>833887</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC008_AttributeGlossary.dateCheck()[pri:0, instance:attributeGlossary.TC008_AttributeGlossary@3234e239]">dateCheck</td> 
  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="91a895">  <td>20/08/17 17:02:01</td>   <td>857492</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectWrappers.afterMethod()[pri:0, instance:attributeGlossary.TC008_AttributeGlossary@3234e239]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="91a895">  <td>20/08/17 17:02:01</td>   <td>857493</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectWrappers.afterClass()[pri:0, instance:attributeGlossary.TC008_AttributeGlossary@3234e239]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="91a895">  <td>20/08/17 17:02:01</td>   <td>857493</td> <td>&nbsp;</td><td title="&lt;&lt;ProjectWrappers.afterTest()[pri:0, instance:audience.TC001_DataRecency@6f195bc3]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="91a895">  <td>20/08/17 17:02:01</td>   <td>857519</td> <td title="&lt;&lt;ProjectWrappers.afterSuite()[pri:0, instance:audience.TC001_DataRecency@6f195bc3]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@140799417</td>   <td></td> </tr>
</table>
